<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      
      <div id="panel1" class="panel">
        
        <%= image_tag("/images/banners/career_banner.png") %>
        
        <div class="hidden">
          <h2>Great people with Great Expectations</h2>
        </div>
        
        <div class="big_banner_content_wrap">
          <h2>Experienced Professionals Needed</h2>
          <p>
            HCI offers employees a rich benefits package, team-oriented work environment, tremendous growth potential and the chance to work with one of the fastest growing health care technology companies in the country. To view the available positions at HCI please visit <%= link_to "HCI Job Postings", "#{APP['job_posting_link']}" %>
          </p>
          <p class="banner_links">
            <%= link_to "Right to Work", "http://www2.hcinsight.com/l/1492/2010-07-14/HLN1J/1492/85701/OSC_Right_to_Work_Poster___English.pdf" %>
            <%= link_to "EEO Statement", "http://www2.hcinsight.com/l/1492/2010-07-19/HMM4B/1492/86101/Affirmative_Action___EEO_Policy_Statement_SIGNED_03_2010.pdf" %>
            <%= link_to "E-Verify Notice", "http://www2.hcinsight.com/l/1492/2010-07-14/HLN1T/1492/85711/E_Verify_Poster_Standard_English.pdf" %>
          </p>
        </div>
      </div>
      
   </div>
  </div>
</div>