<div class="index_banner_nav banner_nav">
  <div class="index_banner_headline">All About HCI</div>
  <ul id="index_banner_nav_ul" class="nav_ul navigation">
    <li class="b_nav1 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner1.png"), '#panel1', :class => "selected active")%>
    </li>
    <li class="b_nav2 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner2.png"), '#panel2')%>
    </li>
    <!-- <li class="b_nav2 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner2.png"), '#panel2')%>
    </li> -->
    <li class="b_nav3 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner3.png"), '#panel3')%>
    </li>
    <li class="b_nav4 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner4.png"), '#panel4')%>
    </li>
    <li class="b_nav5 index_banner_li">
      <%= link_to(image_tag("banners/index_banner_nav/banner5.png"), '#panel5')%>
    </li>
  </ul>
</div>

