<div id="panel1" class="panel">
  <h2 class="hidden hide_text">Nucleus - [Be] in your element</h2>
  <p class="hidden hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/index_banners/banner1-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>
  
  <div class="webinar_button">
    <%= link_to "Register Here", "http://www2.hcinsight.com/hci-webinars-nucleus", :class => "register_blue" %>
  </div>
</div>


<!-- This the OCI for Nov 4th -->
<div id="panel2" class="panel">
  <h2 class="hidden hide_text">Nucleus - [Reinvent] in your element</h2>
  <p class="hidden hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/index_banners/banner2-light.png", :alt => "Core Elements - [Pay] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/ads/nucleus_index_banner2.png'), box_video("green_video"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    <p>We didn’t reinvent the wheel, we reinvented the fight against fraud. Watch the video to see just how we're making that possible.</p>
  </div>
</div>


<div id="panel3" class="panel">
  <h2 class="hidden hide_text">Nucleus - [Evolve] in your element</h2>
  <p class="hidden hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/index_banners/banner3-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('/banners/ads/nucleus_index_banner1.png'), box_video("red_video"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    <p>Watch the video and see how when you're first to evolve, you're always in the lead.</p>
  </div>
</div>


<div id="panel4" class="panel">
  <h2 class="hidden hide_text">Nucleus - [Change] in your element</h2>
  <p class="hidden hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/index_banners/banner4-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/ads/nucleus_index_banner4.png'), box_video("blue_video"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    <p>Working with the right tools is a welcome change. See how by watching the video.</p>
  </div>
</div>


<div id="panel5" class="panel">
  <h2 class="hidden hide_text">Nucleus - [Save] in your element</h2>
  <p class="hidden hide_text">An atomic change. A universe of difference. Meet the world's most advanced payment integrity application ever built. Meet Nucleus.</p>
  <%= image_tag("/images/banners/index_banners/banner5-light.png", :alt => "Nucleus - [Be] in your element", :class => "home_banner")%>  
  <div class="banner_cta_wrap">
    <%= link_to(image_tag('banners/ads/nucleus_index_banner5.png'), box_video("yellow_video"), :class => "main_link overlay_link", :rel => "div.overlay") %>
    <p>Watch the video to see how when you're thriving in your element, you can also save.</p>
  </div>
</div>