<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      
      <div id="panel1" class="panel">
        
        <%= image_tag("/images/banners/press_kit_banner.png") %>
        
        <div class="hidden">
          <h2>All things HCI</h2>
        </div>
        
        <div class="big_banner_content_wrap press_kit">
          <h2>HealthCare Insight<sup>&reg;</sup> essentials</h2>
          <p>
            Download HCI logos, management bios, company profile, corporate timelines, affiliate information, press releases, archived news, and much more.
          </p>
          <ul>
            <li><%= link_to "Logo Pack", "/downloads/logo_pack.zip", :alt => "HealthCare Insight Logo Pack" %></li>
            <li><%= link_to "Timeline", "/downloads/hci_timeline.pdf", :alt => "HealthCare Insight Timeline" %></li>
            <li><%= link_to "Press Releases", "/downloads/hci_press_releases.pdf", :alt => "HealthCare Insight Articles" %></li>
            <li><%= link_to "Management", "/downloads/hci_management.pdf", :alt => "HealthCare Insight Management" %></li>
            <li><%= link_to "Testimonials", "/downloads/hci_testimonials.pdf", :alt => "HealthCare Insight Testimonials" %></li>
            <li><%= link_to "News Clippings", "/downloads/hci_news.pdf", :alt => "HealthCare Insight News Clips" %></li>
            <li><%= link_to "HCI Profile", "/downloads/hci_profile.pdf", :alt => "HealthCare Insight Profile" %></li>
            <li><%= link_to "HCI Timeline", "/downloads/hci_timeline.pdf", :alt => "HealthCare Insight History" %></li>
            <li><%= link_to "All of the Above", "/downloads/all_in_one.pdf", :alt => "HealthCare Insight Press Kit" %></li>
          </ul>
        </div>
      </div>
      
   </div>
  </div>
</div>