<div id="slider" class="nucleus_banner">
  <div class="scroll">
    <div class="scrollContainer">
      
      <div id="panel1" class="panel">
        
        <%= image_tag("/images/banners/social_banner.png") %>
        
        <div class="hidden">
          <h2>HealthCare Insight Social Media</h2>
        </div>
        
        <div class="big_banner_content_wrap">
          <h2>Join HealthCare Insight<sup>&reg;</sup> online</h2>
          <p>
            Check out these useful resources and visit us on Facebook and Linked In.
          </p>
          <ul>
            <li><%= link_to "Facebook", "http://www.facebook.com/pages/Stop-Health-Care-Fraud/105583130933" %></li>
            <li><%= link_to "Linkedin", "http://www.linkedin.com/groups?gid=1426647" %></li>
            <li><%= link_to "YouTube", "http://www.youtube.com/user/HCInsight" %></li>
            <li><%= link_to "Profiler", "http://www.profilermag.com" %></li>
            <li><%= link_to "Twitter", "http://twitter.com/StopHealthFraud" %></li>
            <li><%= link_to "HCI RSS", articles_path(:format => :rss) %></li>
          </ul>
        </div>
      </div>
      
   </div>
  </div>
</div>