<% articles.each do |article| %>
  <div class='index_article_listing top_10_wrap'>
    <% article.assets.each do |asset| %>
      <% if article.third_party? %>
        <%= link_to image_tag(asset.attachment.url(:thumb), :alt => article.title), article.third_party_url, :target => "_blank", :class => "index_article_image" %>
      <% else %>
        <%= link_to image_tag(asset.attachment.url(:thumb), :alt => article.title), article_path(article), :class => "index_article_image" %>
      <% end %>
    <% end %>
    <h3><%= article.title %></h3>
    <%= truncate(article.description, :length => 350) %>
    <div class='widget_links grid_5 omega right'>
      <% if article.third_party? %>
        <%= link_to('Read More', article.third_party_url, :target => "_blank") %>
      <% else %>
        <%= link_to('Read More', article_path(article)) %>
      <% end %>
      <% if current_user %>
      |
      <%= link_to('New', new_article_path) %>
      |
      <%= link_to('Edit', edit_article_path(article)) %>
      |
      <%= link_to('Delete', article, :confirm => 'Are you sure?', :method => :delete) %>
      <% end %>
    </div>
    <div class='clear'></div>
  </div>
<% end %>
<div class='index_article_listing top_10_wrap'>
  <%= will_paginate articles %>
</div>