<h2 class="blue">Memberships &#38; Accreditations</h2>
<p>
  They say you're only as good as the company you keep and we believe it. As a client and business partner you can find comfort in the fact that Verisk Health has been awarded full accreditation in HIPAA Privacy for Business Associate and Health Utilization Management (HUM) modules from URAC. We have also completed the SAS70 audit for your technical peace of mind. At Verisk Health we build relationships with only the most respected and established associations in our industry. We've been a Premier Supporting Member of The National Health Care Anti-Fraud Association for (NHCAA) for nearly a decade and a long time Supporting Member of America’s Health Insurance Plans (AHIP), National Association of Dental Plans (NADP) and others.
</p>
<ul class="accreditation_links">
  <li>
    <%= link_to "SAS70", "http://www.aicpa.org/", :class => "accreditation_link accreditation_sas70", :alt => "SAS70" %>
  </li>
  <li>
    <%= link_to "URAC1", "http://www.urac.org/", :class => "accreditation_link accreditation_urac1", :alt => "URAC" %>
  </li>
  <li>
    <%= link_to "URAC2", "http://www.urac.org/", :class => "accreditation_link accreditation_urac2", :alt => "URAC" %>
  </li>
  <li>
    <%= link_to "NHCAA", "http://www.nhcaa.org/", :class => "accreditation_link accreditation_nhcaa", :alt => "NHCAA" %>
  </li>
  <li>
    <%= link_to "AHIP", "http://www.ahip.org/", :class => "accreditation_link accreditation_ahip", :alt => "AHIP" %>
  </li>
</ul>