<div class="column_2">
  <div class="profile">
    <%= image_tag('about/management_joel_portice.png', :width => 100, :height => 100, :class => 'left')%>
    <div class="profile_content">
      <h3>Joel Portice - President, Verisk Health, Payment Integrity Division.</h3>
      <p>
        Since 2009, Joel has been President and CEO of Intelimedix, a healthcare data analytics and software company. Previously, Joel served as COO at HCI, where he developed and executed the growth strategy, including product management, financial performance and product enhancements and direction while also leading overall operations with profit and loss oversight.
Before joining HCI, he cofounded Enclarity, Inc., a healthcare information management and analytics solutions company. Prior to launching Enclarity, he was VP of Healthcare and Insurance Analytics for Fair Isaac Corporation. Joel also cofounded Integrity Plus Services, a cost-containment software and services company that served the healthcare and insurance markets.  IPS was acquired by UnitedHealth Group and became part of its Ingenix subsidiary.
Joel received his bachelor of science degree from the University of South Dakota and a master of arts degree from Hamline University. He is a member of the board of trustees for Hamline University and the board of advisors for the Center for Health Care Management and Policy of the Paul Merage School of Business at the University of California, Irvine.
      </p>
    </div>
  </div>
  
  <div class="profile">
    <%= image_tag('about/management_karthik.png', :width => 100, :height => 100, :class => 'left')%>
    <div class="profile_content">
      <h3>Karthik Balakrishnan, Ph.D. - Sr. Vice President, Fraud Solutions and Analytics</h3>
      <p>
        Before joining Verisk Health's Payment Integrity Division, Karthik most recently served as Vice President of Analytics at ISO Innovative Analytics (iiA) where he oversaw all analytical development activities across P&C, Healthcare, and Mortgage verticals. Prior to joining iiA, Karthik led the Analytical Services organization at Fireman's Fund Insurance Company (a company of Allianz), where his team had notable successes in deploying analytics in claim fraud detection, underwriting rules optimization, customer segmentation, and many other claims and operational initiatives. Karthik has a Ph.D. in Machine Learning from Iowa State University and over 20 research publications in diverse areas such as neural networks, evolutionary algorithms, spatial learning and neuro-cognitive modeling and is the co-editor of an MIT Press book on Evolutionary Synthesis of Intelligent Agents.
      </p>
    </div>
  </div>
  <div class="profile">
    <%= image_tag('about/management_brian_smith.png', :width => 100, :height => 100, :class => 'left')%>
    <div class="profile_content">
      <h3>Brian C. Smith - Executive Vice President, Sales</h3>
      <p>
        Mr. Smith joined HCI in March of 2008 and currently serves as Executive Vice President of Sales. He has over 27 years of experience in the health care industry and has served in various senior executive positions in Fortune 500 companies as well as venture-backed startups throughout his career. Smith completed his graduate coursework in business administration and public health at UC Irvine and UCLA earning dual BS degrees in both Biology and Psychology.
      </p>
    </div>
  </div>
  <div class="profile">
    <%= image_tag('about/management_darin_johnson.png', :width => 100, :height => 100, :class => 'left')%>
    <div class="profile_content">
      <h3>Darin Johnson, MBA - Vice President, Marketing</h3>
      <p>
        Mr. Johnson joined HCI in 2002 and is known as an industry innovator in B2B and health informatics marketing. During Johnson’s tenure, he has successfully positioned HCI as a market leader and heavily influenced eight consecutive years of double and triple-digit revenue growth. He has distinguished himself with over a decade of inventive work in health marketing. Johnson earned his MBA at the University of Utah, with a focus on marketing and entrepreneurialism. 
      </p>
    </div>
  </div>
  <span class="horiz_divider"></span>
  <%= render :partial => "shared/about/accreditations" %>
</div>