<div class="column_2">
<div id="milestones">
  <div class="divider"></div>
  <div class="left">
    <%= image_tag('about/timeline/timeline_1.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">1997</div>
      <div class="event">
        <h4>We Are Founded.</h4>
        HCI founded by group of skilled 
        health care informatics experts.
      </div>
    </div>
  </div>
  <div class="right">
    <%= image_tag('about/timeline/timeline_2.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2000</div>
      <div class="event">
        <h4>We Go Prepayment.</h4>
        We develop our first prepayment
        fraud and waste prevention service.
      </div>
    </div>
  </div>

  <div class="left">
    <%= image_tag('about/timeline/timeline_3.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2001</div>
      <div class="event">
        <h4>We Get a New President.</h4>
        Dr. Barry Johnson takes over as 
        President and the company takes flight.
      </div>
    </div>
  </div>
  <div class="right">
    <%= image_tag('about/timeline/timeline_4.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2002</div>
      <div class="event">
        <h4>We Get the Olympics.</h4>
        Utah hosts 2002 Winter Games 
        and we experience record growth.
      </div>
    </div>
  </div>

  <div class="left">
    <%= image_tag('about/timeline/timeline_5.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2004</div>
      <div class="event">
        <h4>We Expand Service Line.</h4>
        We expand services by focusing on 
        other cost centers. First, facility bills.
      </div>
    </div>
  </div>
  <div class="right">
    <%= image_tag('about/timeline/timeline_6.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2006</div>
      <div class="event">
        <h4>We Grow Fast, Get Award.</h4>
        Recognized as one of Utah’s fastest 
        growing firms…it’s not the last time.
      </div>
    </div>
  </div>

  <div class="left">
    <%= image_tag('about/timeline/timeline_7.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2007</div>
      <div class="event">
        <h4>We Join the ISO Family.</h4>
        We are acquired by ISO in the fall
        and join ISO’s health care family.
      </div>
    </div>
  </div>
  <div class="right">
    <%= image_tag('about/timeline/timeline_8.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2008</div>
      <div class="event">
        <h4>We Create Profiler Mag.</h4>
        We create Profiler Magazine, the 
        only dedicated health fraud journal.
      </div>
    </div>
  </div>

  <div class="left">
    <%= image_tag('about/timeline/timeline_9.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2009</div>
      <div class="event">
        <h4>Our Parent Goes Public.</h4>
        ISO forms Verisk Analytics and 
        joins the Nasdaq under VRSK.
      </div>
    </div>
  </div>
  <div class="right">
    <%= image_tag('about/timeline/timeline_10.jpg', :width => 100, :height => 100) %>
    <div class="milestone_inner_wrap">        
      <div class="year">2010</div>
      <div class="event">
        <h4>We Launch Nucleus.</h4>
        Our most advanced payment 
        integrity application debuts.
      </div>
    </div>
  </div>
</div>
</div>