<div id="service_links">
	<section>
		<header>
			Brochures &amp; Resources
		</header>
		<ul id="resource_links">
			<li class="commercial button">
				<span></span>
				<%= link_to "Commercial MCOs", "#" %> 
			</li>
			<li class="dental button right_side"> 
				<span></span>
				<%= link_to "Dental Plans", "#" %> 
			</li>
			<li class="medicaid button"> 
				<span></span>
				<%= link_to "Medicaid MCOs", "#"%> 
			</li>
			<li class="pnc button right_side">
				<span></span>
				<%= link_to "Property & Casualty", "#" %> 
			</li>
		</ul>
	</section>
	<section class="last">
		<header>
			The Next Steps
		</header>
		<ul id="step_links">
			<li class="button box_button nucleus">
				<span>Learn More >>></span>
				<%= link_to raw("Nucleus <br/> Platform"), "#"%>
			</li>
			<li class="button box_button demo">
				<span>Learn More >>></span>
				<%= link_to raw("Demo <br/> Request"), "#" %>
			</li>
		</ul>
	</section>
</div>