<div id="service_links">
	<section>
		<header>
			Brochures &amp; Resources
		</header>
		<ul id="resource_links">
			<li class="commercial button">
				<span></span>
				<%= link_to "Commercial MCOs", "downloads/VHComMCO.pdf" %> 
			</li>
			<li class="dental button right_side"> 
				<span></span>
				<%= link_to "Dental Plans", "downloads/VHDental.pdf" %> 
			</li>
			<li class="medicaid button"> 
				<span></span>
				<%= link_to "Medicaid MCOs", "downloads/VHMedMCO.pdf"%> 
			</li>
			<li class="pnc button right_side">
				<span></span>
				<%= link_to "Property & Casualty", "downloads/VHPandC.pdf" %> 
			</li>
		</ul>
	</section>
	<section class="last">
		<header>
			The Next Steps
		</header>
		<ul id="step_links">
			<li class="button box_button nucleus">
				<span>Learn More >>></span>
				<%= link_to raw("Nucleus <br/> Technology"), nucleus_path%>
			</li>
			<li class="button box_button demo">
				<span>Learn More >>></span>
				<%= link_to raw("Demo <br/> Request"), more_info_path %>
			</li>
		</ul>
	</section>
</div>