<% content_for :banner do %>
	<%= image_tag('verisk/banners/more_info_banner.png') %>
<% end %>
<div id="more_info">
	<div class="full_row">
		<div class="column_2">
			<header class="main">
				Contact Us.
			</header>
			<header class="sub_header nucleus_orange">
				We want to hear from you.
			</header>
			<p>
			<span class="contact_form_icon"></span>
			Here’s where you can sign up for a product demo, request a cost Reduction Analysis or simply email us with your ideas, thoughts or questions. If you'd like to speak with one of our sales team experts, please indicate your request in the "Comments" section to the right or call us at one of our locations below.</p>
		</div>
		<div class="column_2">
		  <% form_tag("http://www2.hcinsight.com/l/1492/2009-12-21/G1YG9", :method => "post", :id => "contact_form") do %>
				<div class="field">
				  <%= label :contact, :contact_first_name, raw("First Name <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :contact_first_name, :name => "contact_us_first_name", "data-validate" => "validate(required)", :placeholder => "First Name" %>
				</div>
				<div class="field">
				  <%= label :contact, :contact_last_name, raw("Last Name <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :contact_last_name, :name => "contact_us_last_name", "data-validate" => "validate(required)", :placeholder => "Last Name" %>
				</div>
				<div class="field">
				  <%= label :contact, :business_name, raw("Company <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :business_name, :name => "contact_us_business_name", "data-validate" => "validate(required)", :placeholder => "Company Name" %>
				</div>
				<div class="field">
				  <%= label :contact, :job_title, raw("Title <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :job_title, :name => "contact_us_job_title", "data-validate" => "validate(required)", :placeholder => "Job Title" %>
				</div>
				<div class="field">
				  <%= label :contact, :phone, raw("Phone <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :phone, :name => "contact_us_phone", "data-validate" => "validate(required, numnber)", :placeholder => "Phone Number" %>
				</div>
				<div class="field">
				  <%= label :contact, :email, raw("Email Address <span class='red'>*</span>") %><br />
				  <%= text_field :contact, :email, :name => "contact_us_email", "data-validate" => "validate(required, phone)", :placeholder => "Email Address" %>
				</div>
				<div class="field">
				  <%= label :contact, :comment, "Comments" %><br />
				  <%= text_area :contact, :comment, :name => "contact_us_comment", :placeholder => "Leave Comments", :rows => 3, :cols => 28   %>
				</div>
				<div class="actions field">
					<%= submit_tag 'Submit', :class => "button", :title => "Submit Your Message to HealthCare Insight" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= render :partial => 'shared/sub_boxes/offices_block' %>

<% content_for :javascripts do %>
<script>
	$(function() {
		Forms.validateContactForm();
	});
</script>
<% end %>
