<div id="small_quote">
  <div class="quote <%= color %>">
    <div class="left_quote quotations"></div>
    <span class="row_1"><%= raw(quote.line_1) %></span>
    <span class="row_2"><%= raw(quote.line_2) %></span>
    <span class="row_3"><%= raw(quote.line_3) %></span>
    <div class="right_quote quotations"></div>
  </div>
  <div class="quote_signature">- <%= quote.author %></div>
</div>