<div id="grid" class="image_anchor">
  <div class="inner_grid">
    <div class="grid_box left_side_box odd_row">
      <div class="grid_image">
       <%= link_to(image_tag("partners/partner_logos/verisk1.jpg", :width => 130), "http://www.verisk.com", :alt => "Verisk Analytics", :target => "_blank" )%>
      </div>
      <div class="grid_content_wrap">      
        <h3>Verisk Analytics</h3>
        <p>
          Verisk Analytics offers risk-assessment
          services and decision analytics. Verisk
          Analytics is HCI’s corporate parent.
        </p>
        <%= link_to "www.verisk.com", "http://www.verisk.com", :alt => "Verisk Analytics", :target => "_blank" %>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/iso1.jpg"), "http://www.iso.com", :alt => "ISO", :target => "_blank" ) %>
      </div>
      <div class="grid_content_wrap">      
        <h3>ISO</h3>
        <p>
          ISO is a leading source of information about property/casualty insurance risk since 1971.
        </p>
        <%= link_to "www.iso.com", "http://www.iso.com", :alt => "ISO", :target => "_blank"  %>
      </div>
    </div>
    <div class="grid_box left_side_box even_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/isoia.jpg", :class => "even_row"), "http://www.iso.com", :alt => "ISO Innovative Analytics", :target => "_blank" ) %>
      </div>
      <div class="grid_content_wrap">      
        <h3>ISO Innovative Analytics</h3>
        <p>
          IIA develops practical tools for predictive modeling and scoring. IIA powers HCI’s fraud and abuse models. 
        </p>
        <%= link_to "www.iso.com", "http://www.iso.com", :alt => "ISO Innovative Analytics", :target => "_blank"  %>
      </div>
    </div>
    <div class="grid_box right_side_box even_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/veriskhealth.jpg", :class => "even_row"), "http://www.veriskhealth.com", :alt => "Verisk Health", :target => "_blank" ) %>
      </div>
      <div class="grid_content_wrap">      
        <h3>Verisk Health</h3>
        <p>Health care data analytics firm delivering systems to identify, manage, and minimize medical and financial risk.</p>
        <%= link_to "www.veriskhealth.com", "http://www.veriskhealth.com", :alt => "Verisk Health", :target => "_blank"  %>
      </div>
    </div>
    <div class="grid_box left_side_box odd_row last_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/xact.jpg"), "http://www.xactware.com", :alt => "Xactware", :target => "_blank" ) %>
      </div>
      <div class="grid_content_wrap">      
        <h3>Xactware</h3>
        <p>Xactware Solutions provides software for 
        professionals involved in estimating all 
        phases of building and repair.
        </p>
        <%= link_to "www.xactware.com", "http://www.xactware.com", :alt => "Xactware", :target => "_blank"  %>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row last_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/interthinx.jpg"), "http://www.interthinx.com", :alt => "Interthinx", :target => "_blank" ) %>
      </div>
      <div class="grid_content_wrap">      
        <h3>Interthinx</h3>
        <p>Interthinx is a provider of
        risk mitigation and regulatory compliance 
        tools for the financial services industry.
        </p>
        <%= link_to "www.interthinx.com", "http://www.interthinx.com", :alt => "Interthinx", :target => "_blank"  %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>