<div class="partner_grid">
  <%= link_to(image_tag("partners/leavitt.png"),"http://www.leavittpartners.com", :alt => "Leavitt Partners", :target => "_blank")%>
  <h3>Leavitt Partners</h3>
  <p>HCI public sector partner.</p>
  <%= link_to "www.leavittpartners.com", "http://www.leavittpartners.com", :alt => "Leavitt Partners", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/biologics.png"), "http://www.biologicstoday.com", :alt => "Biologics", :target => "_blank") %>
  <h3>Biologics</h3>
  <p>Powers OncologyClaim Insight<sup>&reg;</sup>.</p>
  <%= link_to "www.biologicstoday.com", "http://www.biologicstoday.com", :alt => "Biologics", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/assist.jpg"), "http://www.assistgroup.com", :alt => "The Assist Group", :target => "_blank")%>
  <h3>The Assist Group</h3>
  <p>Powers FacilityClaim Insight<sup>&reg;</sup>.</p>
  <%= link_to "www.assistgroup.com", "http://www.assistgroup.com", :alt => "The Assist Group", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/qmed.jpg"), "http://www.qmedtrix.com", :alt => "Qmedtrix", :target => "_blank") %>
  <h3>Qmedtrix</h3>
  <p>HCI targeted claims partner.</p>
  <%= link_to "www.qmedtrix.com", "http://www.qmedtrix.com", :alt => "Qmedtrix", :target => "_blank" %>
</div>
<div class="clear"></div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/nea.jpg"), "http://www.nea-fast.com", :alt => "NEA", :target => "_blank") %>
  <h3>NEA</h3>
  <p>HCI electronic imaging partner.</p>
  <%= link_to "www.nea-fast.com", "http://www.nea-fast.com", :alt => "NEA", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/ezcap.jpg"), "http://www.mzihc.com/", :alt => "MZI EZCAP", :target => "_blank") %>
  <h3>MZI EZCAP</h3>
  <p>Automated integration partner.</p>
  <%= link_to "www.mzihc.com", "http://www.mzihc.com/", :alt => "MZI EZCAP", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/sbpa.jpg"), "http://www.sungard.com/iworksgbas", :alt => "Sungard", :target => "_blank") %>
  <h3>SunGard/GBAS</h3>
  <p>Automated integration partner.</p>
  <%= link_to "www.sungard.com", "http://www.sungard.com/iworksgbas", :alt => "Sungard", :target => "_blank" %>
</div>
<div class="partner_grid">
  <%= link_to(image_tag("partners/eldorado.jpg"), "http://www.eldocomp.com", :alt => "Eldorado Computing", :target => "_blank") %>
  <h3>Eldorado Computing</h3>
  <p>Automated integration partner.</p>
  <%= link_to "www.eldocomp.com", "http://www.eldocomp.com", :alt => "Eldorado Computing", :target => "_blank" %>
</div>