<div id="grid" class="image_anchor">
  <div class="inner_grid">
    <div class="grid_box left_side_box odd_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/nhcaa.jpg"), "http://www.nhcaa.org") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>NHCAA</h3>
        <p>The core mission of the NHCAA is to protect and serve the public interest by increasing awareness and improving the detection, investigation, civil...
        </p>
        <%= link_to "www.nhcaa.org", "http://www.nhcaa.org" %>
      </div>
    </div>
    
    <div class="grid_box right_side_box odd_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/ahip.jpg"), "http://www.ahip.org") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>AHIP</h3>
        <p>
          AHIP provides a unified voice for the community of health insurance plans. We have developed innovative solutions to promote universal...          
        </p>
        <%= link_to "www.ahip.org", "http://www.ahip.org" %>
      </div>
    </div>
    <div class="grid_box left_side_box even_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/nadp.jpg", :class => "even_row"), "http://www.nadp.org") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>NADP</h3>
        <p>NADP is the largest non-profit, national trade association focused exclusively on the entire dental benefits industry, i.e. dental HMOs, dental PPOs...
        </p>
        <%= link_to "www.nadp.org", "http://www.nadp.org" %>
      </div>
    </div>
    
    <div class="grid_box right_side_box even_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/cht.jpg", :class => "even_row"), "http://www.healthtransformation.net") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>CHT</h3>
        <p>The CHT is a high-impact collaboration of private and public sector leaders committed to creating a 21st Century Intelligent Health System that saves...
        </p>
        <%= link_to "www.healthtransformation.net", "http://www.healthtransformation.net" %>
      </div>
    </div>
    <div class="grid_box left_side_box odd_row last_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/slc_chamber.jpg"), "http://www.saltlakechamber.org") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>SLC Chamber</h3>
        <p>
          The Salt Lake Chamber is a private, non-profit organization that represents the business community of Utah statewide...
        </p>
        <%= link_to "www.saltlakechamber.org", "http://www.saltlakechamber.org" %>
      </div>
    </div>
    <div class="grid_box right_side_box odd_row last_row">
      <div class="grid_image">
        <%= link_to(image_tag("partners/partner_logos/cahp.jpg"), "http://www.calhealthplans.org") %>
      </div>
      <div class="grid_content_wrap">      
        <h3>CAHP</h3>
        <p>
          The CAHP is a statewide trade association representing 39 public and private health care plans that provide coverage to more than 21 million...
        </p>
        <%= link_to "www.calhealthplans.org", "http://www.calhealthplans.org" %> 
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>