<!-- <h2 class="page_header accreditations_header">accreditations & Certifications</h2> -->
<div class="benefit_works_section">
  <div class="benefit_work_box accreditation_work_box first">
    <%= link_to(image_tag("partners/partner_logos/urac1.png", :alt => "URAC Certification"), "http://www.urac.org", :class => "accreditation_link", :target => "_blank") %>
    <div class="accreditation_sub_box">
    <p>
      URAC standards ensure that only appropriately trained, qualified clinical personnel conduct and oversee the utilization review process, that a reasonable and timely appeals process is in place, and that medical...
    </p>
    <%= link_to "www.urac.org", "http://www.urac.org", :target => "_blank" %>
    </div>
  </div>
  <div class="benefit_work_box accreditation_work_box">
    <%= link_to(image_tag("partners/partner_logos/urac2.png", :alt => "URAC Certification"), "http://www.urac.org", :class => "accreditation_link", :target => "_blank") %>
    <div class="accreditation_sub_box">
    <p>
      URAC’s HIPAA Privacy and HIPAA Security accreditation programs outline a framework of best practices that describe the operational policies and procedures necessary for an effective compliance program...
    </p>
    <%= link_to "www.urac.org", "http://www.urac.org", :target => "_blank" %>
    </div>
  </div>
  <div class="benefit_work_box accreditation_work_box">
    <%= link_to(image_tag("partners/partner_logos/sas.png", :alt => "SAS 70 Certified"), "http://www.aicpa.org", :class => "accreditation_link", :target => "_blank") %>
    <div class="accreditation_sub_box">
    <p>
      SAS 70 is an internationally recognized auditing standard developed by the American Institute of Certified Public Accountants (AICPA). SAS 70 is an acronym for 'Statement of Auditing Standards...
    </p>
    <%= link_to "www.aicpa.org", "http://www.aicpa.org", :target => "_blank" %>
    </div>
  </div>
  <div class="benefit_work_box accreditation_work_box">
    <%= link_to(image_tag("partners/partner_logos/hippa.png", :alt => "HIPAA Certified"), "http://www.hhs.gov/ocr/privacy/hipaa/understanding/index.html", :class => "accreditation_link", :target => "_blank") %>
    <div class="accreditation_sub_box">
      <p>
      The HIPAA Privacy Rule provides federal protections for personal health information held by covered entities and gives patients an array of rights with respect to that information...
    </p>
    <%= link_to "www.hhs.gov", "http://www.hhs.gov/ocr/privacy/hipaa/understanding/index.html", :target => "_blank" %>
    </div>
  </div>
</div>