<ul>
  <h4>Company</h4>
  <li><%= link_to "About Us", about_us_path %></li>
  <li><%= link_to "Careers", "http://www.veriskhealth.com/content/careers" %></li>
</ul>
<ul>
  <h4>Learn More</h4>
  <li><%= link_to "Meet Nucleus", nucleus_path %></li>
  <li><%= link_to "More Info", more_info_path %></li>
</ul>
<ul>
  <h4>Media</h4>
  <li><%= link_to "Our Brochure", fraud_prevention_path %></li>
  <li><%= link_to "Nucleus Info", nucleus_path %></li>
</ul>
<ul>
  <h4>Other</h4>
  <li><%= link_to "WebEx", "https://hcinsight.webex.com/mw0305l/mywebex/default.do?siteurl=hcinsight" %></li>
  <li><%= link_to "Verisk Health", "http://www.veriskhealth.com", :target => "_blank" %></li>
</ul>
