<div class="sub_box_wrap">
  <div class="sub_box">
		<%= link_to(more_info_path, {:class => "sub_box_link"}) do %>
    	<h3>Request A Demo.</h3>
    	<h3 class="sub_title">Let us show you what we can do.</h3>
    	<%= image_tag("verisk/sub_boxes/home_demo.png", :alt => "Nucleus Demo") %>
		<% end %>
  </div>
  <div class="sub_box">
		<%= link_to(nucleus_path, {:class => "sub_box_link"}) do %>
    	<h3>Meet Nucleus.</h3>
    	<h3 class="sub_title">Our Payment Accuracy Application.</h3>
    	<%= image_tag("verisk/sub_boxes/home_nucleus.png", :alt => "HealthCare Insight Services") %>
		<% end %>
  </div>
  <div class="sub_box">
		<%= link_to(about_us_path, {:class => "sub_box_link"}) do %>
    	<h3>Two Companies One Vision.</h3>
    	<h3 class="sub_title">Clinical Validation &#38; Real&ndash;Time Claims Editing.</h3>
    	<%= image_tag("verisk/sub_boxes/home_solution.png", :alt => "Nucleus Saas Solution") %>
		<% end %>
  </div>
</div>