<div class="popup_box public">
  <h2 class="no_graphic">Public Sector</h2>
  <p class="">
  View our solutions for State 
  Medicaid Plans, Medicaid 
  MCOs, Medicare Advantage 
  and Special Needs Plans.</p>
  <%= link_to "Public Payors", public_sector_path, :class => "market_link public_index_wrap service_avatar" %>
  <%= link_to "Learn More >", public_sector_path, :class => "right" %>
</div>
<div class="popup_box private">
  <h2 class="no_graphic">Private Sector</h2>
  <p class="">
    View solutions for Managed  
    Care Organizations, Health 
    Plans, Taft Hartley Funds and 
    Third Party Administrators.
  </p>
  <%= link_to "Public Payors", private_sector_path, :class => "market_link private_index_wrap service_avatar" %>
  <%= link_to "Learn More >", private_sector_path, :class => "right" %>
</div>
<div class="popup_box property">
  <h2 class="no_graphic">Property & Casualty</h2>
  <p class="">
    View our solutions for Auto 
    Insurers, Liability Carriers, 
    Workers Compensation Payors, 
    and Supplemental Insurers.
  </p>
  <%= link_to "Public Payors", property_casualty_path, :class => "market_link property_index_wrap service_avatar" %>
  <%= link_to "Learn More >", property_casualty_path, :class => "right" %>
</div>